<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Acceuil</title>
</head>

<header>
    <div>
        Client connecté : <span th:text="${courant.pseudo}"></span>
    </div>
    <div>
        <a th:href="@{/deconexion}"><button type="button" value="Déconnexion">Déconnexion</button>
        </a>
        </br>
    </div>
    </br>
    <div>
        <a th:href="@{/contrat/listeContratRefuse}" >liste des contrats refuses</a>
    </div>
    </br>
</header>
<body>
    <a th:href="@{/souscrire}"><button type="button" >Souscrire à un contrat</button></a>
    </br></br>

    <label>Liste des contrats validés :</label>

        <form th:each="cont : ${listContrat}" th:action="@{/contrat/description}" method="post">
            <input type="text" th:name="idContrat" th:value="${cont.idContrat}" hidden>
            <input type="submit" value="Voir Contrat">
                <label th:text="'Contrat '+${cont.idContrat}+' concernant '+${cont.appareil}"></label>
            </input>
        </form>




</body>
</html>
