<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Contrat à traiter</title>
</head>
<body>
<h1>Contrat à traiter</h1>
<div>
    <a th:href="@{/deconexion}"><button type="button" value="Déconnexion">Deconnexion</button>
    </a>
    </br>
</div>
<p th:each="contrat : ${listContrat}"><a th:href="${'http://localhost:8080/your_contract_war_exploded/contrat/detail/'+contrat.getIdContrat()}" th:text="'Appareil : '+${contrat.getAppareil()}"></a></p>


</body>
</html>