<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Detail</title>
</head>
<header>
    <a th:href="@{/accueil}"><button type="button">Retour</button></a>
</header>
<body>
    <div>
        <div><p th:text="'Appareil : '+${contrat.appareil}"></p></div>
        <div><p th:text="'Type categorie : '+${contrat.typeCategorie.nomCategorie}"></p></div>
        <div><p th:text="'Client : '+${contrat.client.pseudo}"></p></div>
        <div><p th:text="'Prix : '+${contrat.prix}"></p></div>
        <div><p th:text="'Description : '+${contrat.description}"></p></div>
    </div>
</body>
</html>