<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Detail contrat</title>
</head>
<header>
    <a th:href="@{/accueil}"><button type="button">Retour</button></a>
</header>
<body>
    <p th:text="'Appareil : '+${contrat.getAppareil()}"></p>
    <p th:text="'Type categorie : '+${contrat.getTypeCategorie().getNomCategorie()}"></p>
    <p th:text="'Client : '+${contrat.getClient().getPseudo()}"></p>
    <form action="#" th:action="${'http://localhost:8080/your_contract_war_exploded/contrat/valide/'+contrat.getIdContrat()}" method="get">
        <button type="submit" class="btn btn-primary"> Confirmer </button>
    </form>
<form action="#" th:action="${'http://localhost:8080/your_contract_war_exploded/contrat/refus/'+contrat.getIdContrat()}" method="post">
    <label for="raisonRefus" class="form-label">Raison de refus</label>
    <input type="text" class="form-control" id="raisonRefus" name="raisonRefus" prefix="raisonRefus" required>
    <button type="submit" class="btn btn-primary"> Refuser </button>
</form>
</body>
</html>