    <!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Liste Contrats à valider</title>
</head>
<header>
    <a th:href="@{/accueil}"><button type="button">Retour</button></a>
</header>
<body>

        <div th:each="contrat : ${listContrat}" th:text="${contrat.getAppareil()}+' : '+${contrat.getRaisonRefus()}"></div>

</body>
</html>