<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Souscrire à un contrat</title>
</head>

<header>
    <a th:href="@{/accueil}"><button type="button">Retour</button></a>
</header>
<body>
    <form action="*" th:action="@{/souscrire}" method="post">
        <select id="lesTypes" th:name="leType" required>
            <option th:each="type : ${listTypeCategorie}" th:text="${type.nomCategorie}" th:value="${type.idTypeCategorie}">type</option>
        </select>
        <div class="mb-3">
            <label for="appareil" class="form-label">Appareil :</label>
            <input type="text" class="form-control" id="appareil" placeholder="Ex. Iphone 13" name="appareil" prefix="appareil" required>
        </div>
        <div class="mb-3">
            <label for="description" class="form-label">Description :</label>
            <input type="text" class="form-control" id="description" placeholder="Ex. Je l'utilise tous les jours" name="description" prefix="description" required>
        </div>
        <input type="submit" value="Souscrire"/>


    </form>
</body>
</html>
